@charset "utf-8";
body {
    font: 18px/1.8 Lato;
    background-color: #42413C;
    color: #000;
    padding-top: 56px;
}

ol,
dl {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Karla';
}

h1,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
}

h2 {    
    padding-left: 15px;
    padding-bottom: 15px;
}

a:link,
a:visited {
    color: #0B486B;
}

#wrapper {
    margin: 0 2% 0 2%;
    width: 96%;
    background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/symphony.png');
}

article {
    margin-top: auto;
    width: 90%;
    margin-left: 5%;
    background-color: #FFFFFF;
}

article h1 {
    font-size: 35px;
}

article h2 {
    font-size: 30px;
    margin-bottom: 0;
    color: #06b0c9;
}

article img {
    width: 100%;
}

aside {
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #666;
}

aside img {
    padding: 20000px;
    width: 130px;
    margin: auto;
}


section {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}


footer {
    padding: 10px 0 5px;
    background-color: #42413C;
    clear: both;
    text-align: center;
    color: white;
}

.promise-container {
    margin: auto;
    width: 200px;
    height: 200px;
    background: url('images/circle.jpg');
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.promise {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
    font-size: 16px;
}

.in-line-pictures {
    width: 100%;
    margin-bottom: 30px;
}

.fancybox-title {
    font: 18px/1.6 lato;
    text-align: center;
}

.fancybox img{
    width: 46%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.rotate-img img {
    transform: rotate(-11deg);
    width: 80%;
    padding: 10%;
}

.navbar-header img {
    width: 200px;
    margin-left: 0;
    margin-top: auto;
}

.section div {
    max-width: 100%;
    overflow:hidden;
}


#gmap_canvas {
    width: 98%;
    height: 400px;
}

.navbar {
    width: 100%;
    height: 55px;
}

.navbar-nav {
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0;
    
}

li {
    background: white;
    opacity: 0.9;
    width: 100%;
    text-align: center;
    font-size: 70%;
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #wrapper {
    margin: 0 4% 0 4%;
    width: 92%;
    }
    
    li {
        background: none;
        width: 16%;
        text-align: center;
        font-size: 70%;
    }
    
    .navbar-nav {
        width: 65%;
        float: right;
        display: inline-block;
    }
    .navbar-header img {
        width: 200px;
        float: left;
        margin-top: auto;
    }
    
    .fancybox img{
        width: 47%;
    }

}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    li {
        width: 16%;
        text-align: center;
        font-size: 70%;
    }
    
    .navbar-nav {
        width: 65%;
        float: right;
    }
    
    .navbar-header img {
        width: 270px;
        margin-top: auto;
    }
    
    .has-inline-elements {
        height: 300px;
    }
    
    .promise-container {
        margin-left: 0px;
        display: inline-block;
        width: 30%;
        height: 200px;
        color: white;
        font-size: 16px;
    }
    #gmap_canvas {
        width: 98%;
        height: 600px;
    }
    
    .fancybox img{
        width: 33%;
        padding-bottom: 10px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    li {
        width: 15%;
        text-align: center;
        font-size: 80%;
    }
    
    .has-inline-elements {
        height: 300px;
    }
    
    .navbar-nav {
        width: 65%;
        float: right;
    }

    .promise-container {
        margin-left: 0px;
        width: 30%;
        height: 230px;
        color: white;
        font-size: 16px;
    }
    .fancybox img{
        width: 33%;
    }
    
    #gmap_canvas {
        width: 85%;
        margin-top: 3%;
        margin-left: 5%;
        height: 600px;
    }
}